@charset "UTF-8";

html, body{
    font-family: Century Gothic;
    margin: 0;
    padding: 0;
}

header{
    position: absolute;
    background-color: rgba(2, 2, 95, 0.808);
    height: 250px;
    width: 100%;
}

h1{
    position: relative;
    top: 45px;
    color: white;
    text-align: center;
    font-size: 40px;
}

p{
    font-size: 25px;
    position: relative;
    top: 23px;
}

a{
    color: white;
    text-decoration: none;
}

#sep1{
    position: relative;
    top: 330px;
}

.div1{
    text-align: center;
    display: inline-block;
    width: 30%;
    padding: 20px;
}

.div2{
    position: relative;
    top: 50px;
    background-color: rgba(2, 2, 95, 0.808);
    color: white;
    width: 80%;
    height: 80px;
    left: 45px;
    border-radius: 10px;
}

.div2:hover{
    background-color: black;
}
